#profile {
    border-color: black;
    min-height: 350px;
    width: 350px;
    max-height: 800px;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 75px !important;
    box-shadow: rgba(118, 122, 119, 0.4) 5px 5px, rgba(129, 129, 129, 0.3) 10px 10px,
     rgba(111, 111, 111, 0.2) 15px 15px, rgba(100, 101, 100, 0.1) 20px 20px, rgba(47, 63, 55, 0.05) 25px 25px 25px 25px;
}


