#profile {
    border-color: black;
    min-height: 350px;
    width: 350px;
    max-height: 800px;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 75px !important;
    box-shadow: rgba(68, 67, 67, 0.296) 10px 10px 10px 6px;
}


