@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.img-fluid {
    padding: 25px;
}
img:hover {
  transform: scale(1.15);
}

h3 {
  font-family: 'Abril Fatface', cursive;
}

#fetch {
  align-items: center;
  margin-left: 33%;
}