.App {
    text-align: center;
    background-color: rgba(237, 237, 237, 0.767);
    color: black;
  }

.card {
    width: 100%;
}

/* button {
    border-radius: 100%;
} */

label {
    margin: 7px;
}